@import url("chrome://global/skin/");
@import url("chrome://fstbh/skin/fstbh.css");

@namespace fstbh url("http://sppad.com/ns/fstbh");

/* Ignore -moz-collapsed to allow showing during fullscreen */
#PersonalToolbar:not([collapsed="true"]) {
	visibility: visible;
}

/*
 * Rules for when applied, causing navigator toolbox to show, etc.
 */
#main-window[fstbh|domFS="true"] :-moz-any(#com_sppad_fstbh_ssl_info_boundry, .com_sppad_fstbh_toggler, #navigator-toolbox) {
	display: none !important;
}

#main-window[fstbh|applied="true"] #browser-panel {
	display: -moz-stack;
}

#main-window[fstbh|applied="true"] #PersonalToolbar:not([collapsed="true"]) {
	visibility: visible;
}

/* Since pinned tabs are position fixed, they will show even when not toggled */
#main-window[fstbh|applied="true"]:not([fstbh|toggle_top]) #TabsToolbar:not([fstbh|forceShow="true"]) #tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
	visibility: hidden;
}

#main-window[fstbh|applied="true"] .com_sppad_fstbh_toggler {
	background-color: transparent;
	height: 1px;
}

#main-window[fstbh|applied="true"][fstbh|toggle_top] #com_sppad_fstbh_top_toggler {
	pointer-events: none;
}

#main-window[fstbh|applied="true"] #navigator-toolbox {
	/* Transition property, duration and delay set from javascript */
	transition-timing-function: linear;

	/* For themes. Can be set from JavaScript if height needs to be offset */
	background-position: 100% 0px;

	/* For no transition style, since hiding is done with height */
	overflow: hidden;
}

/* Hide any toolbars that aren't bing force shown */
#main-window[fstbh|applied="true"]:-moz-any([sizemode="normal"], [fstbh|transitionProperty="height"]):not([fstbh|toggle_top])
   #navigator-toolbox > :not([fstbh|forceShow="true"]):not([treestyletab-mode="vertical"])
{
	/* Don't use visibility or display as it changes the behavior when trying to use ctrl-l or ctrl-k */
	height: 0 !important;
	max-height: 0 !important;
	min-height: 0 !important;
	overflow: hidden !important;
}

#main-window[fstbh|applied="true"][fstbh|transitionProperty="height"] #navigator-toolbox {
	margin-top: 0 !important;
}



/*
 * Rules for when not applied.
 */
#main-window:not([fstbh|applied="true"]) #navigator-toolbox {
	margin-bottom: 0 !important;
}

#main-window:not([fstbh|applied="true"]) #browser {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

#main-window:not([fstbh|applied="true"]) :-moz-any(#com_sppad_fstbh_ssl_info_boundry, .com_sppad_fstbh_toggler) {
	display: none;
}



/*
 * #browser-panel child stacking order
 */

/* Send everything to the back of the stack, things that are needed will be moved forward */
#main-window[fstbh|applied="true"] #browser-panel > * {
	-moz-box-ordinal-group: 0;
}

/*
 * Browser should be behind everything else, regardless of element ordering. Note: give
 * #content-deck a higher ordinal in case another add-on is using a xul overlay with
 * #browser as a child of #browser-panel. That causes the newly created #browser element
 * (in FF 27+) to display over #content-deck, making it impossible to click.
 */
#main-window[fstbh|applied="true"] #browser-panel > #browser {
	-moz-box-ordinal-group: 1;
}

#main-window[fstbh|applied="true"] #browser-panel > #content-deck {
	-moz-box-ordinal-group: 2;
}

/* SSL info on top of browser, but behind rest of UI */
#main-window[fstbh|applied="true"] #browser-panel > #com_sppad_fstbh_ssl_info_boundry {
	-moz-box-ordinal-group: 3;
}

/* Everything else should be on top of #browser */
#main-window[fstbh|applied="true"] #browser-panel > :-moz-any(#navigator-toolbox, #browser-bottombox) {
	-moz-box-ordinal-group: 1000;
}

/* Toggler goes on top of the navigator-toolbox so that we can detect mouse events on it separately */
#main-window[fstbh|applied="true"] #browser-panel > .com_sppad_fstbh_toggler {
	-moz-box-ordinal-group: 1001;
}


/*
 * Context menu items
 */

/* Want to appear on top of the other context menu items. Can't use overlay
 * positioning, since the items are populated when the menu is first opened */
#viewToolbarsMenu > menupopup *:-moz-any(menuitem, menuseparator),
#toolbar-context-menu *:-moz-any(menuitem, menuseparator),
#autohide-context *:-moz-any(menuitem, menuseparator) {
	-moz-box-ordinal-group: 1000;
}

/* Hide context menu items when not appropriate */
#main-window:not([sizemode="normal"]) [action="normalAutohide"],
#main-window:not([sizemode="maximized"]) [action="maximizedAutohide"],
#main-window:not([sizemode="fullscreen"]) [action="fullscreenAutohide"] {
	display: none;
}


/*
 * Misc
 */

#com_sppad_fstbh_windowControls {
	display: none;
	position: relative;
}

#main-window[fstbh|applied="true"] #TabsToolbar[treestyletab-mode="vertical"] {
	z-index: -1;
}
