@import url("chrome://global/skin/");

window[inFullscreen] #browser-panel {
	display: -moz-stack;
}

window[inFullscreen] #com_sppad_fstbh_topChromeStackElement[titleChangeBehavior="any"][titlechange=true]  #navigator-toolbox,
window[inFullscreen] #com_sppad_fstbh_topChromeStackElement[titleChangeBehavior="pinned"][pinnedTitlechange=true]  #navigator-toolbox,
window[inFullscreen] #navigator-toolbox:hover {
	margin-top: 0px !important;
}

window[inFullscreen] #navigator-toolbox {
	transition-property: margin-top;
	transition-timing-function: linear;
	
	background-position: right top !important;
}

window:not([inFullscreen]) #com_sppad_fstbh_topChromeStackElement {
	-moz-box-ordinal-group: 0;
}

#com_sppad_fstbh_topChromeWrapper {
	pointer-events: all;
}

#browser,
#com_sppad_fstbh_topChromeStackElement {
	display: -moz-box !important;
}

#com_sppad_fstbh_topChromeStackElement {
	pointer-events: none;
}

window[inFullscreen] #browser-panel > * {
	display: none;
}