@import url("chrome://global/skin/");
@import url("chrome://fstbh/skin/fstbh.css");

@namespace fstbh url("http://sppad.com/ns/fstbh");

/* Ignore -moz-collapsed to allow showing during fullscreen */
#addon-bar:not([collapsed="true"]),
#PersonalToolbar:not([collapsed="true"]) {
	visibility: visible;
}

/*
 * Rules for when applied, causing navigator toolbox to show, etc.
 */	
#main-window[fstbh|domFS="true"] :-moz-any(#com_sppad_fstbh_ssl_info_boundry, .com_sppad_fstbh_toggler, #navigator-tool#box, #browser-bottombox, #com_sppad_fstbh_fullscreen_titlebar) {
	display: none !important;
}
 
#main-window[fstbh|applied="true"] #browser-panel {
	display: -moz-stack;
}

#main-window[fstbh|applied="true"] #PersonalToolbar:not([collapsed="true"]) {
	visibility: visible;
}

#main-window[fstbh|applied="true"]:not([fstbh|toggle_bottom]) #addon-bar {
	visibility: collapse;
}

#main-window[fstbh|applied="true"] .com_sppad_fstbh_toggler {
	background-color: transparent;
	height: 1px;
}

#main-window[fstbh|applied="true"][fstbh|toggle_top] #com_sppad_fstbh_top_toggler,
#main-window[fstbh|applied="true"][fstbh|toggle_bottom] #com_sppad_fstbh_bottom_toggler {
	pointer-events: none;
}

#main-window[fstbh|applied="true"] #navigator-toolbox {
	/* Transition property, duration and delay set from javascript */
	transition-timing-function: linear;
	
	/* For themes. Can be set from JavaScript if height needs to be offset */
	background-position: 100% 0px;
	
	/* For no transition style, since hiding is done with height */
	overflow: hidden;
}

#main-window[fstbh|applied="true"][fstbh|showTabsToolbar="true"] #navigator-toolbox {	
	/* It looks odd if the slide in animation plays due to the margin-top offset on #browser */
	transition-property: none;
	
	/* Don't hide so that tabs can stay showing */
	margin-top: 0px !important;
	height: auto !important;
}

#main-window[fstbh|applied="true"][fstbh|showAddonsBar="true"] #addon-bar:not([collapsed="true"]) {
	visibility: visible !important;
}

/* Hide toolbars other than TabsToolbar when com_sppad_fstbh_showTabsToolbar */
#main-window[fstbh|applied="true"][fstbh|showTabsToolbar="true"]:not([fstbh|toggle_top]) #navigator-toolbox > :not(#TabsToolbar) {
	/* Don't use visibility or display as it changes the behavior when trying to use ctrl-l or ctrl-k */
	height: 0 !important;
	max-height: 0 !important;
	min-height: 0 !important;
	overflow: hidden;
}



/*
 * Rules for when not applied.
 */
#main-window:not([fstbh|applied="true"]) #navigator-toolbox {
	margin-bottom: 0 !important;
}

#main-window:not([fstbh|applied="true"]) #browser {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

#main-window:not([fstbh|applied="true"]) :-moz-any(#com_sppad_fstbh_ssl_info_boundry, .com_sppad_fstbh_toggler) {
	display: none;
}



/*
 * #browser-panel child stacking order
 */
 
/* Send everything to the back of the stack, things that are needed will be moved forward */
#main-window[fstbh|applied="true"] #browser-panel > * {
	-moz-box-ordinal-group: 0;
}

/* Browser should be behind everything else, regardless of element ordering */
#main-window[fstbh|applied="true"] #browser-panel > :-moz-any(#browser, #content-deck) {
	-moz-box-ordinal-group: 1;
}

/* SSL info on top of browser, but behind rest of UI */
#main-window[fstbh|applied="true"] #browser-panel > #com_sppad_fstbh_ssl_info_boundry {
	-moz-box-ordinal-group: 2;
}

/* Everything else should be on top of #browser */
#main-window[fstbh|applied="true"] #browser-panel > :-moz-any(#navigator-toolbox, #browser-bottombox) {
	-moz-box-ordinal-group: 1000;
}

/* Toggler goes on top of the navigator-toolbox so that we can detect mouse events on it separately */
#main-window[fstbh|applied="true"] #browser-panel > .com_sppad_fstbh_toggler {
	-moz-box-ordinal-group: 1001;
}


/*
 * Context menu items
 */
 
/* Want to appear on top of the other context menu items. Can't use overlay
 * positioning, since the items are populated when the menu is first opened */
#toolbar-context-menu *:-moz-any(menuitem, menuseparator),
#autohide-context *:-moz-any(menuitem, menuseparator) {
	-moz-box-ordinal-group: 1000;
}

/* Hide context menu items when not appropriate */
#main-window:not([sizemode="normal"]) .normalAutohideContextItem,
#main-window:not([sizemode="maximized"]) .maximizedAutohideContextItem {
	display: none;
}

/* Hide 'show menu-bar' context menu item. Not set from Javascript since the
 * context menu item doesn't exist if context menu hasn't been opened yet.
 */
#main-window[fstbh|fullishScreen] #toggle_toolbar-menubar {
	display: none;
}



/*
 * Misc
 */

#com_sppad_fstbh_windowControls {
	display: none;
	position: relative;
}

#main-window[fstbh|fullishScreen] #toolbar-menubar {
	display: none !important;
}
