@import url("chrome://global/skin/");

@import url("chrome://fstbh/skin/fstbh.css");

window[com_sppad_fstbh_applied="true"] #browser-panel {
	display: -moz-stack;
}

/* Rules for showing when applied */
window[com_sppad_fstbh_applied="true"] #navigator-toolbox[com_sppad_fstbh_titleChangeBehavior="any"][com_sppad_fstbh_titlechange="true"],
window[com_sppad_fstbh_applied="true"] #navigator-toolbox[com_sppad_fstbh_titleChangeBehavior="pinned"][com_sppad_fstbh_pinnedTitlechange="true"],
window[com_sppad_fstbh_applied="true"] #navigator-toolbox[com_sppad_fstbh_toggle] {
	margin-top: 0px !important;
	transition-delay: 0s !important;
}

/* Make sure that we can always be hovered / moused into */
window[com_sppad_fstbh_applied="true"] #navigator-toolbox {
	min-height: 1px !important;
}

/* Make sure any margin-top set from the javascript style doesn't take effect 
 * when not applied
 */
window:not([com_sppad_fstbh_applied="true"]) #browser,
window:not([com_sppad_fstbh_applied="true"]) #navigator-toolbox {
	margin-top: 0 !important;
}


window[com_sppad_fstbh_applied="true"] #navigator-toolbox {
	/* Transition properties. The duration and delay are set from javascript */
	transition-property: margin-top;
	transition-timing-function: linear;
	
	/* For themes */
	background-position: right top !important;
}


window[com_sppad_fstbh_applied="true"] #navigator-toolbox {
	-moz-box-ordinal-group: 1000;
}

/* To not get hit by rule below setting display: none */
window[com_sppad_fstbh_applied="true"] #browser,
window[com_sppad_fstbh_applied="true"] #navigator-toolbox,
window[com_sppad_fstbh_applied="true"] #browser-bottombox {
	display: -moz-box !important;
}

/* Default, hide anything not used since we are -moz-stack and it will prevent mouse events */
window[com_sppad_fstbh_applied="true"] #browser-panel > * {
	display: none;
}


window[com_sppad_fstbh_applied="true"] #browser-panel:not([com_sppad_fstbh_tabCount="1"]) #navigator-toolbox[com_sppad_fstbh_showTabsToolbar="multipleTabs"],
window[com_sppad_fstbh_applied="true"] #navigator-toolbox[com_sppad_fstbh_showTabsToolbar="always"] {	
	/* It looks odd if the slide in animation plays due to the margin-top offset on #browser */
	transition-property: none;
	margin-top: 0px !important;
}


/* Rules for showing non-Tab toolbars when either always or multitabs is set.
 * Basically, show either when hovering or something is focused.
 */
window[com_sppad_fstbh_applied="true"] #browser-panel:not([com_sppad_fstbh_tabCount="1"]) #navigator-toolbox[com_sppad_fstbh_showTabsToolbar="multipleTabs"]:not([com_sppad_fstbh_toggle]) > :not(#TabsToolbar),
window[com_sppad_fstbh_applied="true"] #navigator-toolbox[com_sppad_fstbh_showTabsToolbar="always"]:not([com_sppad_fstbh_toggle]) > :not(#TabsToolbar) {
	/* Don't use visibility or display as it changes the behavior when trying to use f6 or ctrl-l */
	height: 0 !important;
	max-height: 0 !important;
	min-height: 0 !important;
	overflow: hidden;
}

/* Want Firefox's version to take effect when not in fullscreen */
window[inFullscreen] #navigator-toolbox[com_sppad_fstbh_showPersonalToolbar="hover"] #PersonalToolbar {
	visibility: visible !important;
	display: -moz-box;
}

/* Want to appear on top of the other context menu items */
#toolbar-context-menu *:-moz-any(menuitem, menuseparator),
#autohide-context *:-moz-any(menuitem, menuseparator) {
	-moz-box-ordinal-group: 1;
}

window:not([sizemode="maximized"]) .maximizedHoverContextItem {
	display: none;
}

#fullscr-toggler {
	visibility: hidden;
}
