@import url("chrome://global/skin/");

@import url("chrome://fstbh/skin/fstbh.css");

#main-window[com_sppad_fstbh_applied="true"] #browser-panel {
	display: -moz-stack;
}



/*
 * Rules for when applied, causing navigator toolbox to show, etc.
 */

#main-window[com_sppad_fstbh_applied="true"] #navigator-toolbox[com_sppad_fstbh_titleChangeBehavior="any"][com_sppad_fstbh_titlechange="true"],
#main-window[com_sppad_fstbh_applied="true"] #navigator-toolbox[com_sppad_fstbh_titleChangeBehavior="pinned"][com_sppad_fstbh_pinnedTitlechange="true"],
#main-window[com_sppad_fstbh_applied="true"] #navigator-toolbox[com_sppad_fstbh_toggle] {
	margin-top: 0px !important;
	transition-delay: 0s !important;
	height: auto !important;
}

#main-window[com_sppad_fstbh_applied="true"] #com_sppad_fstbh_toggler {
	background-color: transparent;
	height: 1px;
}

#main-window[com_sppad_fstbh_applied="true"] #navigator-toolbox {
	/* Transition property, duration and delay set from javascript */
	transition-timing-function: linear;
	
	/* For themes. Can be set from JavaScript if height needs to be offset */
	background-position: 100% 0px;
	
	/* For no transition style, since hiding is done with height */
	overflow: hidden;
}

#main-window[com_sppad_fstbh_applied="true"] #browser-panel:not([com_sppad_fstbh_tabCount="1"]) #navigator-toolbox[com_sppad_fstbh_showTabsToolbar="multipleTabs"],
#main-window[com_sppad_fstbh_applied="true"] #navigator-toolbox[com_sppad_fstbh_showTabsToolbar="always"] {	
	/* It looks odd if the slide in animation plays due to the margin-top offset on #browser */
	transition-property: none;
	
	/* Don't hide so that tabs can stay showing */
	margin-top: 0px !important;
	height: auto !important;
}

/* Rules for showing non-Tab toolbars when either always or multitabs is set.
 * Basically, show either when hovering or something is focused.
 */
#main-window[com_sppad_fstbh_applied="true"] #browser-panel:not([com_sppad_fstbh_tabCount="1"]) #navigator-toolbox[com_sppad_fstbh_showTabsToolbar="multipleTabs"]:not([com_sppad_fstbh_toggle]) > :not(#TabsToolbar),
#main-window[com_sppad_fstbh_applied="true"] #navigator-toolbox[com_sppad_fstbh_showTabsToolbar="always"]:not([com_sppad_fstbh_toggle]) > :not(#TabsToolbar) {
	/* Don't use visibility or display as it changes the behavior when trying to use ctrl-l or ctrl-k */
	height: 0 !important;
	max-height: 0 !important;
	min-height: 0 !important;
	overflow: hidden;
}



/*
 * Rules for when not applied.
 */

#main-window:not([com_sppad_fstbh_applied="true"]) #browser,
#main-window:not([com_sppad_fstbh_applied="true"]) #navigator-toolbox {
	margin-top: 0 !important;
	height: auto !important;
}

#main-window:not([com_sppad_fstbh_applied="true"]) #com_sppad_fstbh_ssl_info_boundry {
	display: none;
}



/*
 * #browser-panel child stacking order
 */
 
/* Send everything to the back of the stack, things that are needed will be moved forward */
#main-window[com_sppad_fstbh_applied="true"] #browser-panel > * {
	-moz-box-ordinal-group: 0;
}

/* Browser should be behind everything else, regardless of element ordering */
#main-window[com_sppad_fstbh_applied="true"] #browser-panel > #browser {
	-moz-box-ordinal-group: 1;
}

/* SSL info on top of browser, but behind rest of UI */
#main-window[com_sppad_fstbh_applied="true"] #browser-panel > #com_sppad_fstbh_ssl_info_boundry {
	-moz-box-ordinal-group: 2;
}

/* Everything else should be on top of #browser */
#main-window[com_sppad_fstbh_applied="true"] #browser-panel > :-moz-any(#navigator-toolbox, #browser-bottombox, #com_sppad_fstbh_toggler) {
	-moz-box-ordinal-group: 1000;
}



/*
 * Context menu items
 */
 
/* Want to appear on top of the other context menu items. Can't use overlay
 * positioning, since the items are populated when the menu is first opened */
#toolbar-context-menu *:-moz-any(menuitem, menuseparator),
#autohide-context *:-moz-any(menuitem, menuseparator) {
	-moz-box-ordinal-group: 1000;
}

/* Hide context menu items when not appropriate */
#main-window:not([sizemode="normal"]) .normalAutohideContextItem,
#main-window:not([sizemode="maximized"]) .maximizedAutohideContextItem {
	display: none;
}

/* Hide 'show menu-bar' context menu item. Not set from Javascript since the
 * context menu item doesn't exist if context menu hasn't been opened yet.
 */
#main-window[com_sppad_fstbh_fullishScreen] #toggle_toolbar-menubar {
	display: none;
}



/*
 * Misc
 */

/* When inFullscreen and showPersonalToolbar is set, allow #PersonalToolbar to be shown */
#main-window[inFullscreen] #navigator-toolbox[com_sppad_fstbh_showPersonalToolbar="hover"] #PersonalToolbar {
	visibility: visible !important;
	display: -moz-box;
}

#com_sppad_fstbh_windowControls {
	display: none;
}

#main-window[com_sppad_fstbh_fullishScreen] #toolbar-menubar {
	display: none !important;
}