/* For Windows titlebar margin-bottom workaround. Hopefully never more than 40px */
#titlebar[com_sppad_fstbh_workaround="1"] { margin-bottom: -1px !important; }
#titlebar[com_sppad_fstbh_workaround="2"] { margin-bottom: -2px !important; }
#titlebar[com_sppad_fstbh_workaround="3"] { margin-bottom: -3px !important; }
#titlebar[com_sppad_fstbh_workaround="4"] { margin-bottom: -4px !important; }
#titlebar[com_sppad_fstbh_workaround="5"] { margin-bottom: -5px !important; }
#titlebar[com_sppad_fstbh_workaround="6"] { margin-bottom: -6px !important; }
#titlebar[com_sppad_fstbh_workaround="7"] { margin-bottom: -7px !important; }
#titlebar[com_sppad_fstbh_workaround="8"] { margin-bottom: -8px !important; }
#titlebar[com_sppad_fstbh_workaround="9"] { margin-bottom: -9px !important; }
#titlebar[com_sppad_fstbh_workaround="10"] { margin-bottom: -10px !important; }
#titlebar[com_sppad_fstbh_workaround="11"] { margin-bottom: -11px !important; }
#titlebar[com_sppad_fstbh_workaround="12"] { margin-bottom: -12px !important; }
#titlebar[com_sppad_fstbh_workaround="13"] { margin-bottom: -13px !important; }
#titlebar[com_sppad_fstbh_workaround="14"] { margin-bottom: -14px !important; }
#titlebar[com_sppad_fstbh_workaround="15"] { margin-bottom: -15px !important; }
#titlebar[com_sppad_fstbh_workaround="16"] { margin-bottom: -16px !important; }
#titlebar[com_sppad_fstbh_workaround="17"] { margin-bottom: -17px !important; }
#titlebar[com_sppad_fstbh_workaround="18"] { margin-bottom: -18px !important; }
#titlebar[com_sppad_fstbh_workaround="19"] { margin-bottom: -19px !important; }
#titlebar[com_sppad_fstbh_workaround="20"] { margin-bottom: -20px !important; }
#titlebar[com_sppad_fstbh_workaround="21"] { margin-bottom: -21px !important; }
#titlebar[com_sppad_fstbh_workaround="22"] { margin-bottom: -22px !important; }
#titlebar[com_sppad_fstbh_workaround="23"] { margin-bottom: -23px !important; }
#titlebar[com_sppad_fstbh_workaround="24"] { margin-bottom: -24px !important; }
#titlebar[com_sppad_fstbh_workaround="25"] { margin-bottom: -25px !important; }
#titlebar[com_sppad_fstbh_workaround="26"] { margin-bottom: -26px !important; }
#titlebar[com_sppad_fstbh_workaround="27"] { margin-bottom: -27px !important; }
#titlebar[com_sppad_fstbh_workaround="28"] { margin-bottom: -28px !important; }
#titlebar[com_sppad_fstbh_workaround="29"] { margin-bottom: -29px !important; }
#titlebar[com_sppad_fstbh_workaround="30"] { margin-bottom: -30px !important; }
#titlebar[com_sppad_fstbh_workaround="31"] { margin-bottom: -31px !important; }
#titlebar[com_sppad_fstbh_workaround="32"] { margin-bottom: -32px !important; }
#titlebar[com_sppad_fstbh_workaround="33"] { margin-bottom: -33px !important; }
#titlebar[com_sppad_fstbh_workaround="34"] { margin-bottom: -34px !important; }
#titlebar[com_sppad_fstbh_workaround="35"] { margin-bottom: -35px !important; }
#titlebar[com_sppad_fstbh_workaround="36"] { margin-bottom: -36px !important; }
#titlebar[com_sppad_fstbh_workaround="37"] { margin-bottom: -37px !important; }
#titlebar[com_sppad_fstbh_workaround="38"] { margin-bottom: -38px !important; }
#titlebar[com_sppad_fstbh_workaround="39"] { margin-bottom: -39px !important; }
#titlebar[com_sppad_fstbh_workaround="40"] { margin-bottom: -40px !important; }
