@namespace fstbh url("http://sppad.com/ns/fstbh");

#main-window[fstbh|applied="true"]:not([fstbh|toggle_top]):not([fstbh|showTabsToolbar="true"]) #com_sppad_fstbh_fullscreen_titlebar,
#main-window[fstbh|applied="true"][fstbh|separatedTitlebar="false"]:not([fstbh|toggle_top]):not([fstbh|showTabsToolbar="true"]) #titlebar {
	visibility: hidden;
	/* Visibility: hidden doesn't seem to always work */
	opacity: 0;
}

#main-window[fstbh|applied="true"][sizemode="fullscreen"] #titlebar {
	display: none;
}

#main-window[fstbh|applied="true"] #navigator-toolbox[fstbh|backgroundStyle="transparent"] {
 	background-color: rgba(0, 0, 0, 0.4);
}

#main-window[fstbh|applied="true"][sizemode="maximized"]:not([fstbh|separatedTitlebar="true"]) #com_sppad_fstbh_windowControls {
	display: -moz-box !important;
}

#main-window[fstbh|applied="true"][sizemode="maximized"]:not([fstbh|separatedTitlebar="true"]) #titlebar-buttonbox-container {
	display: none !important;
}