#main-window[com_sppad_fstbh_applied="true"][com_sppad_fstbh_separatedTitlebar="false"]:not([com_sppad_fstbh_toggle]):not([com_sppad_fstbh_showTabsToolbar="true"]) #titlebar {
	visibility: hidden;
}

#main-window[com_sppad_fstbh_applied="true"] #browser-panel[com_sppad_fstbh_tabCount="1"] #navigator-toolbox[com_sppad_fstbh_backgroundStyle="transparent"][com_sppad_fstbh_showTabsToolbar="multipleTabs"],
#main-window[com_sppad_fstbh_applied="true"] #navigator-toolbox[com_sppad_fstbh_backgroundStyle="transparent"][com_sppad_fstbh_showTabsToolbar="hoverOnly"] {
 	background-color: rgba(0, 0, 0, 0.4);
}

#main-window[com_sppad_fstbh_fullishScreen]:not([com_sppad_fstbh_separatedTitlebar="true"]) #com_sppad_fstbh_windowControls,
#main-window[com_sppad_fstbh_applied="true"][sizemode="maximized"]:not([com_sppad_fstbh_separatedTitlebar="true"]) #com_sppad_fstbh_windowControls {
	display: -moz-box !important;
}

#main-window[com_sppad_fstbh_applied="true"][sizemode="maximized"]:not([com_sppad_fstbh_separatedTitlebar="true"]) #titlebar-buttonbox-container,
#main-window[com_sppad_fstbh_applied="true"][sizemode="maximized"]:not([com_sppad_fstbh_separatedTitlebar="true"]) .titlebar-placeholder[type="caption-buttons"] {
	display: none !important;
}