@import url("identity.css");
@import url("chrome://fstbh-platform/skin/fstbh.css");

@namespace fstbh url("http://sppad.com/ns/fstbh");

#main-window[fstbh|applied="true"][fstbh|toggle_top] #navigator-toolbox[fstbh|shadowWhenToggled="true"] {
	box-shadow: 0px 8px 10px -2px rgba(16, 16, 16, 0.5); 
}

#main-window[fstbh|applied="true"]:not([fstbh|toggle_top]):not([fstbh|showTabsToolbar="true"]) #com_sppad_fstbh_top_toggler[singlePixelPadding="true"] {
	background-color: black;
}

#main-window[fstbh|applied="true"] #browser-bottombox[fstbh|backgroundStyle="transparent"] {
	background-color: rgba(0, 0, 0, .45) !important;
	background-image: linear-gradient(to bottom, rgba(132, 132, 132, .3) 0%, rgba(149, 149, 149, .3) 85%, rgba(0, 0, 0, .1) 100%) !important;
}

#main-window[fstbh|applied="true"] #browser-bottombox[fstbh|backgroundStyle="transparent"] [disabled="true"] {
	color: rgb(195, 195, 195) !important;
}

#com_sppad_fstbh_windowControls {
	margin-left: 6px;
}

#com_sppad_fstbh_windowControls_min .toolbarbutton-icon,
#com_sppad_fstbh_windowControls_restore .toolbarbutton-icon,
#com_sppad_fstbh_windowControls_close .toolbarbutton-icon {
	width: 10px !important;
	height: 10px !important;
}

#com_sppad_fstbh_windowControls_min toolbarbutton,
#com_sppad_fstbh_windowControls_restore toolbarbutton,
#com_sppad_fstbh_windowControls_close toolbarbutton {
	border-color: transparent;
	-moz-appearance: none;
}

#com_sppad_fstbh_windowControls_min toolbarbutton {
	list-style-image: url("chrome://fstbh/skin/images/minimize_icon.svg");
}

#com_sppad_fstbh_windowControls_restore toolbarbutton {
	list-style-image: url("chrome://fstbh/skin/images/restore_icon.svg");
}

#com_sppad_fstbh_windowControls_close toolbarbutton {
	list-style-image: url("chrome://fstbh/skin/images/close_icon.svg");
}

#com_sppad_fstbh_windowControls_min,
#com_sppad_fstbh_windowControls_restore {
	background-color: rgb(230, 230, 240);
	padding-left: 4px;
	padding-right: 4px;
	border-color: rgb(140, 140, 140);
	border-style: solid;
}

#com_sppad_fstbh_windowControls_close {
	background-color: rgb(30, 30, 40);
	padding-left: 15px;
	padding-right: 15px;
	border-color: rgb(140, 140, 140);
	border-style: solid;
}

#com_sppad_fstbh_windowControls_min {
	border-top-width: 0;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-left-radius: 3px;
}

#com_sppad_fstbh_windowControls_restore {
	border-top-width: 0;
	border-bottom-width: 1px;
	border-left-width: 0;
	border-right-width: 1px;
	border-right-width: 0;
}

#com_sppad_fstbh_windowControls_close {
	border-top-width: 0;
	border-left-width: 0;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-bottom-right-radius: 3px;
}

#com_sppad_fstbh_windowControls_min:hover,
#com_sppad_fstbh_windowControls_restore:hover {
	background-color: rgb(200, 200, 210);
}

#com_sppad_fstbh_windowControls_min:active,
#com_sppad_fstbh_windowControls_restore:active {
	background-color: rgb(160, 160, 170);
}

#com_sppad_fstbh_windowControls_close:hover {
	background-color: rgb(120, 120, 130);
}

#com_sppad_fstbh_windowControls_close:active {
	background-color: rgb(80, 80, 90);
}