@import url("chrome://fstbh-platform/skin/fstbh.css");

window[com_sppad_fstbh_applied="true"] #browser-bottombox[com_sppad_fstbh_backgroundStyle="transparent"] {
	background-color: rgba(0, 0, 0, .45) !important;
	background-image: linear-gradient(to bottom, rgba(132, 132, 132, .3) 0%, rgba(149, 149, 149, .3) 85%, rgba(0, 0, 0, .1) 100%) !important;
}

window[com_sppad_fstbh_applied="true"] #browser-bottombox[com_sppad_fstbh_backgroundStyle="transparent"][disabled="true"] {
	color: rgb(195, 195, 195) !important;
}